/* iPhone 7/6 -- 414x736 */

body{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:415px) {
    body{
        background-color: red;
    }
}

/* laptop 1920 x 1080 */

@media screen and (min-width:415px) and (max-width:1920px) {
    .row{
        width: 100% !important;
        /* padding: 15px; */
        /* 1200px ==  100px== col-1
                  (1200/12)*11 = 1100 */
    
    
    }
    .col-12{
        float: left;
        width: 100%
    }
    .col-11{
        float: left;
        width: calc(1536px - calc(1 * calc(1536px / 12)));
    }
    .col-10{
        float: left;
        width: calc(1536px - calc(2 * calc(1536px / 12)));
    }
    .col-9{
        float: left;
        width: calc(1536px - calc(3 * calc(1536px / 12)));
    }
    .col-8{
        float: left;
        width: calc(1536px - calc(4 * calc(1536px / 12)));
    }
    .col-7{
        
        width: calc(1536px - calc(5 * calc(1536px / 12)));
       
        float: left;;
    }
    .col-6{
        float: left;
        width: calc(1536px - calc(6 * calc(1536px / 12)));

    }
    .col-5{
        float: left;
        width: calc(1536px - calc(7 * calc(1536px / 12)));
        
    }
    .col-4{
        float: left;
        width: calc(1536px - calc(8 * calc(1536px / 12)));
        
    }
    .col-3{
        float: left;
        width: calc(1536px - calc(9 * calc(1536px / 12)));
    }
    .col-2{
        float: left;
        width: calc(1536px - calc(10 * calc(1536px / 12)));
    }
    .col-1{
        float: left;
        width: calc(1536px - calc(11 * calc(1536px / 12)));
        
    }
}