/* iPhone 7/6 -- 414x736 */

:root{
    --red : rgb(255,0,0);
    --col-1: 38px;
    --screen-w: 960px;
}

body{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:415px) {
    body{
        background-color: var(--red)
    }
}

/* laptop 1920 x 1080 */


@media screen and (min-width:415px) {
   
    body{
        background-color: yellow;
        
    }
    .row{
        width: var(--screen-w) !important;
        /* padding: 15px; */
        /* 1200px ==  100px== col-1
                  (1200/12)*11 = 1100 */
    
        
    }
    .col-12{
        float: left;
        width: var(--screen-w);
    }
    .col-11{
        float: left;
        width: 880px;


        /* 12 - (1)  =11*/
    }
    .col-10{
        float: left;
        width: 800px;
    }
    .col-9{
        float: left;
        width: 720px;
    }
    .col-8{
        float: left;
        width: 640px;
    }
    .col-7{
        
        width: 560px;
        float: left;
    }
    .col-6{
        float: left;
        width: 480px;

    }
    .col-5{
        float: left;
        width: 400px;
        
    }
    .col-4{
        float: left;
        width: 320px;
        
    }
    .col-3{
        float: left;
        width: 240px;
    }
    .col-2{
        float: left;
        width: 160px;
    }
    .col-1{
        float: left;
        width: 80px;
        
    }
}