.wrapper{
    /* background-image: url('./1.jpg'); */
    background-size: cover;
    /* color: yellow; */
}
.fontf{

    /* font-family: "Aarti"; */
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: justify;
    text-indent: 40px;
  
}

.fontf a{
    text-decoration: overline;
}

#texts{
    text-shadow: 0px 0px 5px red;
}

#texts::first-letter{
    font-size: 40px;
}
.fontf>a:visited{
    color: chartreuse;
}

.GBB:focus{
    border-color: red;
}

.fontf:hover{
    color: red;
}

.form-div{
    /* border-width: 3px;
    border-style: double; */
    border-color:  silver;
    /* border: 3px double silver; */
    box-shadow: 8px 8px 5px black;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    background-color: rgba(65, 36, 36, 0.2);

    /* opacity: 0.1;  */
    /* opacity in between 0-1 */
    /* margin: top right bottom left */
    margin-left: 35%;
    margin-top: 10%;
    /* margin: 35% 10%; */
}
.input-group{
    padding: 5px;
    margin: 5px;
}

.input-group>label{
    display: block;
}
.input-group>input{
    display: block;
    border-radius: 2px;
    border-style: none;
}

/* body{
    background-color: red;
} */

input[type='password']{
    background-color: blue;
}

/* 

id == #

class == .
tag == tag
attributes == tag[attr='value']

*/